@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

* {
  font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 1.5rem;
  color: #212529;
  background-color: #fff;
  user-select: none;
}